{% extends 'base.html.twig' %}

{% block main %}
<main id="main" class="">
<section class="w-75 m-auto">
  <ul class="">
  {% for i in 1..20 %}
  <li class="d-flex justify-content-between">
  <a class="fs-4" href="">tetffffffffffffffffffffffffffffffffffffffffffffffff</a>
  <div class="fs-4">2023.a.a.</div>
  </li>
  {% endfor %}
  </ul>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link">前一页</a>
      </li>
      <li class="page-item"><a class="page-link" href="?p=1">1</a></li>
      <li class="page-item"><a class="page-link" href="?p=2">2</a></li>
      <li class="page-item"><a class="page-link" href="?p=3">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">后一页</a>
      </li>
    </ul>
  </nav>
</section>
</main>
{% endblock %}
